//Cuprum Regular
@font-face {
    font-family: 'cuprumregular';
    src: url('../fonts/cuprum-regular.eot');
    src: url('../fonts/cuprum-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-regular.woff') format('woff'),
         url('../fonts/cuprum-regular.ttf') format('truetype'),
         url('../fonts/cuprum-regular.svg#cuprumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//Cuprum Bold
@font-face {
    font-family: 'cuprumbold';
    src: url('../fonts/cuprum-bold.eot');
    src: url('../fonts/cuprum-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-bold.woff') format('woff'),
         url('../fonts/cuprum-bold.ttf') format('truetype'),
         url('../fonts/cuprum-bold.svg#cuprumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
