@charset "utf-8";
@import "lib/base";
/* default layout */
.l{
	width: 100%;
	// display: inline-block;
	min-height:1px;
}

	.l-sidebar{
		float:left;
		width: 150px;
		min-height:1px;
	}

	.l-main{
		float:left;
		width: 820px;
		margin: 0 20px;
		min-height:1px;
	}

	.l-extra{
		float:right;
		width: 200px;
		min-height:1px;
	}

	.l-solo{
		width: 600px;
		margin: 0 auto;
		min-height:1px;
	}

	.l-solo-wide{
		width: 820px;
		margin: 0 auto;
		min-height:1px;
	}
	
	.l-half{
		@include bs;
		float:left;
		width: 50%;
    }