@import "common";
@import "fonts";
@import "layouts";
@import "main";
@import "ie";
@import "chosen";

// this is just example of  how commenting css should be done in big projects
@import "styledocco";

// div{
// 	background: red;
// 	@include iphone{
// 		background: blue;
// 	}
// }