<!doctype html>
<!--[if lte IE 8]><html class="lteie8"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Template</title>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" media="screen" href="css/screen.css" >
  <script src="build/build.js"></script>
</head>
<body>
<!-- BEGIN .panel -->
<div class="panel">
  <div class="panel__holder">
    <!-- BEGIN .logo -->
    <h1 class="logo">
      <a href="#" title="3waytalk">3waytalk</a>
    </h1>
    <!-- /.logo -->
    <!-- BEGIN .profile -->
    <div class="profile">
      <span class="profile__user"><a href="#">Ivan Klymenko</a></span>
      <i class="icon"></i>
    </div>
    <!-- /.profile -->
  </div>
</div>
<!-- /.panel -->

<!-- BEGIN .page -->
<div class="page l">

  <!-- BEGIN .l-sidebar -->
  <div class="l-sidebar">
    <div class="nav">
      <ul>
        <li class="is-active">
          <a href="#">Account</a>
        </li>
        <li>
          <a href="#">Warnings</a>
          <span class="nav__number">0/3</span>
        </li>
        <li>
          <a href="#">Customer feedback</a>
          <span class="nav__number">16</span>
        </li>
        <li>
          <a href="#">Complaints audit</a>
          <span class="nav__number">7</span>
        </li>
        <li>
          <a href="#">Test's evaluation</a>
          <span class="nav__number">36</span>
        </li>
        <li><a href="#">Rules</a></li>
      </ul>
    </div>
    <!-- BEGIN .cash -->
    <div class="cash">
      <h1 class="cash__title">Your balance:</h1>
      <a href="#" class="amount">€156,18</a>
    </div>
    <!-- /.cash -->
  </div>
  <!-- /.l-sidebar -->

  <!-- BEGIN .l-main -->
  <div class="l-main">
    <!-- BEGIN .account -->
    <div class="account">
      <h1 class="h1">Account</h1>
      <!-- BEGIN .notifications -->
      <section class="notifications">
        <article class="notifications__notification">
          <p>The lower the value you set, the faster you will receive a call from a client.</p>
          <a href="#" class="notifications__notification__close">Close</a>
        </article>
        <article class="notifications__notification">
          <p>When a client is added you as a favorite translators, it can pozvonitvam directly (bypassing other translators). This is the best way to earn their customer base and earn more. Do not forget to ask customers to add you to the list of selected translators.</p>
          <a href="#" class="notifications__notification__close">Close</a>
        </article>
      </section>
      <!-- /.notifications -->
      <!-- BEGIN .panel-wrapper -->
      <section class="panel-wrapper">
        <!-- BEGIN .cost -->
        <article class="cost js-cost" data-url="/push/cost" data-cost="1.2" data-maxcost="5" data-mincost="0.8">
          <h2 class="cost__title">COST</h2>
          <p>Set the cost of your services:</p>
          <div class="cost__cost js-cost-value">€1,2</div>

          <div class="cost__slider js-slider">
            <div class="cost__slider__min">€0,80</div>
            <div class="cost__slider__bar-wrapper js-slider-bar">
              <div class="cost__slider__bar-wrapper__holder btn btn_lightblue js-slider-button">
                1,2
              </div>
              <div class="cost__slider__bar-wrapper__bar"></div>
            </div>
            <div class="cost__slider__max">€5,00</div>
          </div>

          <nav>
            <a href="#" class="cost__increase js-plus">Increase</a>
            <a href="#" class="cost__decrease js-minus">Decrease</a>
          </nav>
        </article>
        <!-- /.cost -->
        <!-- BEGIN .queue -->
        <article class="queue show js-queue">
          <div class="queue__summary js-queue-summary" data-url="/restfake/dashboard.json">
            <h2 class="queue__summary__title">Queue</h2>
            <p class="queue__summary__abstract">You are in the queue:</p>
            <div class="queue__summary__position js-position">36</div>
            <a href="#" class="queue__summary__show btn btn_primary js-toggle">Show queue</a>
          </div>
          
          <script id="tpl_queue" type="text/template">
          <% _.each(translators, function(translator) { %>
          <% if ( translator.newprice ) { %>
          	<article class="queue__details__cost js-queue-block">
              <h2 class="queue__details__cost__title">€<%= translator.price %></h2>
              <ul>
          <% } %>
                <li<% if ( translator.current ) { %> class="queue__details__cost__special"<% } %>>
                  <span class="queue__details__cost__number"><%= translator.position %></span>
                  <span class="queue__details__cost__name"><%= translator.name %></span>
                </li>
          <% if ( translator.newprice ) { %>
              </ul>
            </article>
          <% } %>
          <% }) %>
          </script>
          <div class="queue__details js-queue-details" data-url="/restfake/dashboard.json">
            <a href="#" class="queue__details__hide btn btn_primary js-toggle">Hide queue</a>
            <article class="queue__details__cost js-queue-block">
              <h2 class="queue__details__cost__title">€0,80</h2>
              <ul>
                <li>
                  <span class="queue__details__cost__number">1</span>
                  <span class="queue__details__cost__name">Georgy Milevinski</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">2</span>
                  <span class="queue__details__cost__name">Marina Sharap</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">3</span>
                  <span class="queue__details__cost__name">Vadim Nechiporenko</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">4</span>
                  <span class="queue__details__cost__name">Margarita Slaviskih</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">5</span>
                  <span class="queue__details__cost__name">Georgy Milevinski</span>
                </li>
              </ul>
            </article>
            <article class="queue__details__cost js-queue-block">
              <h2 class="queue__details__cost__title">€1,2</h2>
              <ul>
                <li class="queue__details__cost__special">
                  <span class="queue__details__cost__number">6</span>
                  <span class="queue__details__cost__name">Ivan Klymenko</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">7</span>
                  <span class="queue__details__cost__name">Vadim Nechiporenko</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">8</span>
                  <span class="queue__details__cost__name">Georgy Milevinski</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">9</span>
                  <span class="queue__details__cost__name">Marina Sharapova</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">10</span>
                  <span class="queue__details__cost__name">Vadim Nechiporenko</span>
                </li>
                <li>
                  <span class="queue__details__cost__number">11</span>
                  <span class="queue__details__cost__name">Margarita Slaviskih</span>
                </li>
              </ul>
            </article>
          </div>
        </article>
        <!-- /.queue -->
      </section>
      <!-- /.panel-wrapper -->

    </div>
    <!-- /.account -->

  </div>
  <!-- /.l-main -->

  <!-- BEGIN .l-extra -->
  <div class="l-extra">
    <!-- BEGIN .call -->
    <div class="call">
      <div class="call__mode call__mode_online">Online</div>
      <div class="call__icon"><i class="icon icon_standby"></i></div>
      <div class="call__button"><a class="btn btn_block btn_standby" href="#">Waiting for a call</a></div>
    </div>
    <!-- /.call -->

    <!-- BEGIN .favorites -->
    <section class="favorites js-favorites">
      <div class="favorites__count js-favorites-all">10</div>
      <p class="favorites__abstract">Сustomers have added you to favorites</p>
      <div class="favorites__online">
        <h2 class="favorites__online__title">Of these online:</h2>
        <span class="favorites__online__count js-favorites-online">3</span>
      </div>
    </section>
    <!-- /.favorites -->


  </div>
  <!-- /.l-extra -->

</div>
<!-- /.page -->



</body>
</html>